<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesecondary.css' %}">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">DMProject</label>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a class="active" href="/signup">Signup</a></li>
            <li><a href="/signin">Login</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/feedback">Feedback</a></li>
        </ul>
    </nav>

        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %}

    <h3>Sign Up</h3>

    <form action="/signup/" method="post">
    {% csrf_token %}
        <label for="">Username</label>
        <input type="text" id="username" name="username" placeholder="Create a username (only letters and numbers)" required>
        <br>

        <label for="">First Name</label>
        <input type="text" id="firstname" name="firstname" placeholder="Enter your firstname" required>
        <br>

        <label for="">Last Name</label>
        <input type="text" id="lastname" name="lastname" placeholder="Enter your lastname" required>
        <br>

        <label for="">Email Address</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
        <br>

        <label for="">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
        <br>

        <label for="">Confirm your password</label>
        <input type="password" id="confirmedpassword" name="confirmedpassword" placeholder="Please re-enter your password" required>
        <br>
        <button type="submit">Sign Up</button>
         <button type="submit"><a href=/>home</a></button>


    </form>
    <script src="" async defer></script>
</body>
</html>