<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/addcar/" method="post">
    {% csrf_token %}
        <label for="">CarID</label>
        <input type="text" id="CarID" name="CarID" placeholder="Enter the CarID" required>
        <br>

        <label for="">Year</label>
        <input type="text" id="year" name="year" placeholder="Enter the year of the vehicle" required>
        <br>

        <label for="">Make</label>
        <input type="text" id="make" name="make" placeholder="Enter the make of the vehicle" required>
        <br>

        <label for="">Model</label>
        <input type="text" id="model" name="model" placeholder="Enter the model of the vehicle" required>
        <br>

        <label for="">Miles</label>
        <input type="text" id="miles" name="miles" placeholder="Enter the current miles on the vehicle" required>
        <br>

        <label for="">Color</label>
        <input type="text" id="color" name="color" placeholder="Please enter the color of the vehicle" required>
        <br

        <label for="">Location</label>
        <input type="text" id="location" name="location" placeholder="Please enter the location of the vehicle" required>
        <br>

        <label for="">Status</label>
        <input type="text" id="status" name="status" placeholder="Please enter the Status of the vehicle L, D, S" required>
        <br>

        <button type="submit">Add new Vehicle</button>



</form>
        <button type="submit"><a href=/>home</a></button>
    <script src="" async defer></script>

</body>
</html>