<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesecondary.css' %}">

</head>
<body>

    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">DMProject</label>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/feedback">Feedback</a></li>
        </ul>
    </nav>
   <center>
  <h1>You searched for...</h1>
    {% if searched %}
        <h1>You searched for {{ searched }}</h1>

        <br/>
    <table border="1">
        <tr>
            <th>CarID</th>
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
            <th>Miles</th>
            <th>Status</th>
            <th>Notes</th>
        </tr>
        {% for car in cars %}
        <tr>
            <td>{{ car.CarID }}</td>
            <td>{{ car.year }}</td>
            <td>{{ car.make }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.miles }}</td>
            <td>{{ car.status }}</td>
            <td>{{ car.notes }}</td>
        </tr>

        {% endfor %}
    <table/>
    {% else %}
        <h1>You didn't search for a vehicle.</h1>
    {% endif %}

<table border="1">




  </tr>
</table>

  <button type="submit"><a href=/>home</a></button>
</center>
</body>
</html>
