<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

  <h1>Cars</h1>
<table border="1">
  {% for car in cars %}
  <tr>
    <td>{{ car.CarID }}</td>
      <td>{{ car.year }}</td>
      <td>{{ car.make }}</td>
      <td>{{ car.model }}</td>
      <td>{{ car.miles }}</td>
      <td>{{ car.color }}</td>
      <td>{{ car.location }}</td>
      <td>{{ car.status }}</td>
      <td>{ car.DateAdded }}</td>
      <td><a href="sort/{{ car.DateAdded }}">Sort</a></td>
  {% endfor %}
<form class ="d-flex" method="GET" action="/searchCars/">
  {% csrf_token %}
  <input class="form-control me-2" type="search" placeholder="Search Cars" aria-label="Search" name="searched">
  <button type="submit">Search</a></button>
</form>

  </tr>
</table>
<button type="submit"><a href=/addcar>Add Car</a></button>
    <button type="submit"><a href=/>home</a></button>

</body>
</html>
