<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesecondary.css' %}">

</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">DMProject</label>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/feedback">Feedback</a></li>
        </ul>
    </nav>

  <h1>Cars</h1>
<table class="table table-striped table-hover table-bordered">
  {% for car in cars %}
    <tr>
        <td>
            <a href="/update_cars/{{ car.CarID }}" class ="btn btn-outline-secondary btn-sm">{{ car }}</a>
        </td>
  {% endfor %}
    <form class ="d-flex" method="GET" action="/searchCars/">
<!--<form class ="d-flex" method="POST" action="/searchCars/">-->
  {% csrf_token %}
  <input class="form-control me-2" type="search" placeholder="Search Cars" aria-label="Search" name="searched">
  <button type="submit">Search</a></button>
</form>

  </tr>
</table>
<button type="submit"><a href=/add_car>Add Car</a></button>


</body>
</html>