<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesecondary.css' %}">

</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">DMProject</label>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/feedback">Feedback</a></li>
        </ul>
    </nav>

  <h1>Users</h1>
<table class="table table-striped table-hover table-bordered">

  {% for user in Users %}
    <tr>
        <td>{{ user }} </td>


  {% endfor %}

  </tr>
</table>
<button type="submit"><a href=/add_car>Add Car</a></button>


</body>
</html>